.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
    scroll-snap-type: x mandatory;
    width: 890px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    container-type: inline-size;
    margin-bottom: 10px;
}

@container (max-width: 450px) {
  .carousel {
    width: 340px;
  }
}

@container (min-width: 450px) and (max-width: 870px) {
  .carousel {
    width: 470px;
  }
}

@container (min-width: 870px) {
  .carousel {
    width: 890px;
  }
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__page-indicator {
  width: 10px;
  height: 10px;
  background: #E5E5E5;
  margin: 0 1px;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0;
  margin: 3px;
  transform: scale(1);
  transition: transform .15s, background .15s;
}

.carousel__page-indicator--active {
  transform: scale(1.2);
  background: #7F7F7F;
}
