.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 870px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
}

.card__titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card__title {
    font-weight: 100;
    font-size: 32px;
}

.card__subtitle {
    font-weight: 400;
    font-size: 18px;
}

.card--status-prematch {
  background-image: url("../public/assets/bg-prematch.jpg")
}

.card--status-live {
  background-image: url("../public/assets/bg-live.jpg")
}

.card--status-postmatch {
  background-image: url("../public/assets/bg-postmatch.jpg")
}

.card__center-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.card__country {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

.card__country-flag {
  margin-bottom: 15px;
}

.card__country-name {
  font-size: 28px;
}

.card__vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.card__vs--postmatch, .card__vs--live {
  font-size: 75px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card__vs-separator {
  padding: 0 10px;
}

.card__vs-title {
  font-size: 27px;
  margin-bottom: 5px;
}

.card__vs-time {
  font-size: 27px;
}

.card__status {
  text-align: center;
  padding: 2px 25px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
}

.card__status--prematch {
  background: #555555;
}

.card__status--live {
  background: #ff9600;
}

.card__status--postmatch {
  background: #2c8604;
}
